In [ ]:
from pypapago import Translator
# 번역할 파일명
fileName = './test.txt'
# 사용할 전역변수
templist = []
afterTranslate = []
# 객체 할당
translator = Translator()
# 파일 읽기모드, 줄을 읽고 \n를 제거하여 번역하기
with open(fileName, 'r') as f: 
    lines = f.readlines()
    for line in lines:
        # '\n'엔터키''가 있을 때 교체하여 추가, 그 외 그냥 추가
        if '\n' in line:
            line = line.replace('\n', '')
            templist.append(line)
        else:
            templist.append(line)
        # 문자열이 비어있는 리스트는 삭제
        try:
            templist.remove('')
        except:
            pass
# 리스트 내 영어 자료들 번역하기
for i in range(len(templist)):
    result = translator.translate(templist[i], source='en', target='ko', verbose=False)
    afterTranslate.append(result)

In [2]:
!pip install pypapago

Collecting pypapago
  Downloading pypapago-0.1.1.1-py3-none-any.whl (4.5 kB)
Requirement already satisfied: tqdm<5 in c:\users\aaa\anaconda3\lib\site-packages (from pypapago) (4.44.1)
Requirement already satisfied: requests<3 in c:\users\aaa\anaconda3\lib\site-packages (from pypapago) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aaa\anaconda3\lib\site-packages (from requests<3->pypapago) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aaa\anaconda3\lib\site-packages (from requests<3->pypapago) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaa\anaconda3\lib\site-packages (from requests<3->pypapago) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aaa\anaconda3\lib\site-packages (from requests<3->pypapago) (1.25.8)
Installing collected packages: pypapago
Successfully installed pypapago-0.1.1.1

In [3]:
from pypapago import Translator

In [5]:
import pandas as pd

In [9]:
data = pd.read_csv('장래인구.csv', encoding='CP949')
data

,국가별,2015,2016,2017,2018,2019,2020,2021
0,세계,7379797.0,7464022.0,7547859.0,7631091.0,7713468.0,7794799.0,7874966.0
1,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,한국,51015.0,51218.0,51362.0,51607.0,51709.0,51781.0,51822.0
3,아프가니스탄,34414.0,35383.0,36296.0,37172.0,38042.0,38928.0,39835.0
4,아르메니아,2926.0,2936.0,2945.0,2952.0,2958.0,2963.0,2968.0
...,...,...,...,...,...,...,...,...
227,토켈라우제도,1.0,1.0,1.0,1.0,1.0,1.0,1.0
228,통가,101.0,101.0,102.0,103.0,104.0,106.0,107.0
229,투발루,11.0,11.0,11.0,12.0,12.0,12.0,12.0
230,바누아투,271.0,278.0,285.0,293.0,300.0,307.0,314.0
231,월리스푸투나제도,12.0,12.0,12.0,12.0,11.0,11.0,11.0

In [15]:
dt = data['국가별']
dt

0            세계
1           아시아
2            한국
3        아프가니스탄
4         아르메니아
         ...
227      토켈라우제도
228          통가
229         투발루
230        바누아투
231    월리스푸투나제도
Name: 국가별, Length: 232, dtype: object

In [18]:
!pip install kakaotrans

Collecting kakaotrans
  Downloading kakaotrans-0.1.2-py3-none-any.whl (5.2 kB)
Requirement already satisfied: requests in c:\users\aaa\anaconda3\lib\site-packages (from kakaotrans) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aaa\anaconda3\lib\site-packages (from requests->kakaotrans) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aaa\anaconda3\lib\site-packages (from requests->kakaotrans) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aaa\anaconda3\lib\site-packages (from requests->kakaotrans) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaa\anaconda3\lib\site-packages (from requests->kakaotrans) (2020.6.20)
Installing collected packages: kakaotrans
Successfully installed kakaotrans-0.1.2

In [19]:
from kakaotrans import Translator

In [36]:
translator = Translator()
afterTrans = []

for d in data['국가별'] :
    trans = translator.translate(d, src='kr', tgt='en').lower()
    afterTrans.append(trans)

afterTrans

['the world',
 'asia',
 'korea',
 'afghanistan',
 'armenia',
 'azerbaijan',
 'bahrain',
 'bangladesh',
 'butane',
 'brunei',
 'cambodia',
 'china',
 'cyprus',
 'georgia',
 'hong kong',
 'india',
 'indonesia',
 'iran',
 'iraq',
 'israel',
 'japan',
 'jordan',
 'kazakhstan',
 'north korea',
 'kuwait',
 'kyrgyzstan',
 'laos',
 'lebanon',
 'macau',
 'malaysia',
 'maldive',
 'mongolia',
 'myanmar',
 'nepal',
 'arrogance',
 'pakistan',
 'palestinians',
 'philippines',
 'cathar',
 'saudi arabia',
 'singapore',
 'sri lanka',
 'syria',
 'taiwan',
 'tajikistan',
 'thailand',
 'turkey',
 'turkmenistan',
 'arab emirit',
 'uzbekstan',
 'vietnam',
 'yemen',
 'north america',
 'bermuda',
 'canada',
 'greenland',
 'mexico',
 'saint-piermiclong',
 'the united states',
 'south america',
 'angila',
 'antigababuda',
 'argentinian',
 'aruba',
 'bahamas',
 'barbados',
 'bellies',
 'bolivia',
 'brazil',
 'british virgin island',
 'cayman is.',
 'chile',
 'colombia',
 'costarica',
 'cuba',
 'dominica federal',
 'dominica republic',
 'ecuador',
 'el salvador',
 'falkland',
 'grenada',
 'guadeloupe',
 'guatemala',
 'guyana',
 'haiti',
 'honduras',
 'jamaica',
 'martinique',
 'montserrat',
 'nicaragua',
 'panama',
 'paraguay',
 'peru',
 'puerto rico',
 'st. kitsnevis',
 'st. lucia',
 'st. vincentgrenadine',
 'suriname',
 'trinidad tobago',
 'turks caucus is.',
 'american virgin island',
 'uruguay',
 'venezuela',
 'europe',
 'albania',
 'andorra',
 'austria',
 'belarus',
 'belgium',
 'bulgaria',
 'chanel archipelago',
 'croatia',
 'czech republic',
 'denmark',
 'estonia',
 'ferro is.',
 'finnish',
 'france',
 'germany',
 'gibraltar',
 'grease',
 'papal office',
 'hungary',
 'iceland',
 'ireland',
 'man island',
 'italia',
 'latvia',
 'lichtenstein',
 'lithuania',
 'luxembourg',
 'north macedonia',
 'malta',
 'moldova',
 'monaco',
 'dutch',
 'norway',
 'poland',
 'portugal',
 'romania',
 'russia',
 'san marino',
 'slovakia',
 'slovenia',
 'spain',
 'sweden',
 'switzerland',
 'ukraine',
 'the united kingdom',
 'montenegro',
 'serb',
 'africa',
 'algiers',
 'angola',
 'benin',
 'botswana',
 'burkina faso',
 'burundi',
 'cameroon',
 'caboverde',
 'central african republic',
 'chad',
 'comoro',
 'congo',
 'republic of congo',
 "cote d'ivoire",
 'djibouti',
 'egypt',
 'equatorial guinea pig',
 'eritrea',
 'ethiopia',
 'gabon',
 'gambia',
 'ghana',
 'guinea pig',
 'guinea bisau',
 'kenya',
 'lesotho',
 'liberia',
 'livia',
 'madagascar',
 'malawi',
 'mali',
 'mauritania',
 'mauritius',
 'moroccan',
 'mozambique',
 'namibia',
 'niger',
 'nigeria',
 'lewinion',
 'rwanda',
 'sangtumephrincipe',
 'senegal',
 'seychelles',
 'sierraion',
 'somalia',
 'south african',
 'st. helena',
 'means',
 'eswatini',
 'tanzania',
 'togo',
 'tunisia',
 'uganda',
 'epicahara',
 'zambia',
 'zimbabwe',
 'oceania',
 'american samoa',
 'australia',
 'cook island',
 'sebum',
 'french polynesia',
 'guam',
 'kiribashi',
 'marshall is.',
 'micronesia',
 'nauru',
 'newcaledonia',
 'new zealand',
 'niue',
 'north mariana is.',
 'palau',
 'papua new guinea',
 'samoa',
 'solomon islands',
 'tokelau is.',
 'tonga',
 'tuvalu',
 'vanuatu',
 'wallisputuna is.']

In [38]:
data['country'] = afterTrans
data

,국가별,2015,2016,2017,2018,2019,2020,2021,country
0,세계,7379797.0,7464022.0,7547859.0,7631091.0,7713468.0,7794799.0,7874966.0,the world
1,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,asia
2,한국,51015.0,51218.0,51362.0,51607.0,51709.0,51781.0,51822.0,korea
3,아프가니스탄,34414.0,35383.0,36296.0,37172.0,38042.0,38928.0,39835.0,afghanistan
4,아르메니아,2926.0,2936.0,2945.0,2952.0,2958.0,2963.0,2968.0,armenia
...,...,...,...,...,...,...,...,...,...
227,토켈라우제도,1.0,1.0,1.0,1.0,1.0,1.0,1.0,tokelau is.
228,통가,101.0,101.0,102.0,103.0,104.0,106.0,107.0,tonga
229,투발루,11.0,11.0,11.0,12.0,12.0,12.0,12.0,tuvalu
230,바누아투,271.0,278.0,285.0,293.0,300.0,307.0,314.0,vanuatu
231,월리스푸투나제도,12.0,12.0,12.0,12.0,11.0,11.0,11.0,wallisputuna is.

In [49]:
data.to_csv('./population.csv', encoding='CP949')

In [23]:
data2 = pd.read_csv('data0715.csv')
data2

,year,country,region,rank,score,gdp,social_support,health,freedom,trust,generosity,dystopia,Logged GDP per capita,social_support_std,health_std,freedom_std,trust_std,generosity_std,gdp_std,dystopia_std
0,2015,Switzerland,Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,NaN,1.320281,1.263408,1.577438,2.309652,0.471040,1.369621,0.758258
1,2015,Iceland,Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,NaN,1.514458,1.289434,1.332456,-0.016480,1.575856,1.135226,1.092857
2,2015,Denmark,Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,NaN,1.361054,0.992229,1.469659,2.842774,0.824293,1.192861,0.712335
3,2015,Norway,Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NaN,1.251922,1.035145,1.605131,1.852081,0.868638,1.525130,0.663893
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,NaN,1.221204,1.118054,1.360416,1.555725,1.748563,1.194876,0.639337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,2021,Lesotho,Africa,145,3.512,NaN,0.78700,48.70000,0.71500,0.91500,-0.13100,1.80000,7.926,-0.242308,-2.417575,-0.678147,-1.049973,-0.771665,-1.304407,-1.176342
1080,2021,Botswana,Africa,146,3.467,NaN,0.78400,59.26900,0.82400,0.80100,-0.24600,0.64800,9.782,-0.268508,-0.849315,0.286874,-0.411761,-1.537565,0.302927,-3.326246
1081,2021,Rwanda,Africa,147,3.415,NaN,0.55200,61.40000,0.89700,0.16700,0.06100,1.09500,7.676,-2.294659,-0.533110,0.933173,3.137597,0.507053,-1.520912,-2.492038
1082,2021,Zimbabwe,Africa,148,3.145,NaN,0.75000,56.20100,0.67700,0.82100,-0.04700,1.20500,7.943,-0.565444,-1.304554,-1.014577,-0.523728,-0.212226,-1.289685,-2.286752
1083,2021,Afghanistan,Asia,149,2.523,NaN,0.46300,52.49300,0.38200,0.92400,-0.10200,1.89500,7.695,-3.071932,-1.854758,-3.626333,-1.100359,-0.578526,-1.504458,-0.999050

In [24]:
df = data2.copy()

In [37]:
for i in range(len(df)) :
    df['country'][i] = df['country'][i].lower()
df

C:\Users\aaa\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,year,country,region,rank,score,gdp,social_support,health,freedom,trust,generosity,dystopia,Logged GDP per capita,social_support_std,health_std,freedom_std,trust_std,generosity_std,gdp_std,dystopia_std
0,2015,switzerland,Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,NaN,1.320281,1.263408,1.577438,2.309652,0.471040,1.369621,0.758258
1,2015,iceland,Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,NaN,1.514458,1.289434,1.332456,-0.016480,1.575856,1.135226,1.092857
2,2015,denmark,Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,NaN,1.361054,0.992229,1.469659,2.842774,0.824293,1.192861,0.712335
3,2015,norway,Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NaN,1.251922,1.035145,1.605131,1.852081,0.868638,1.525130,0.663893
4,2015,canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,NaN,1.221204,1.118054,1.360416,1.555725,1.748563,1.194876,0.639337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,2021,lesotho,Africa,145,3.512,NaN,0.78700,48.70000,0.71500,0.91500,-0.13100,1.80000,7.926,-0.242308,-2.417575,-0.678147,-1.049973,-0.771665,-1.304407,-1.176342
1080,2021,botswana,Africa,146,3.467,NaN,0.78400,59.26900,0.82400,0.80100,-0.24600,0.64800,9.782,-0.268508,-0.849315,0.286874,-0.411761,-1.537565,0.302927,-3.326246
1081,2021,rwanda,Africa,147,3.415,NaN,0.55200,61.40000,0.89700,0.16700,0.06100,1.09500,7.676,-2.294659,-0.533110,0.933173,3.137597,0.507053,-1.520912,-2.492038
1082,2021,zimbabwe,Africa,148,3.145,NaN,0.75000,56.20100,0.67700,0.82100,-0.04700,1.20500,7.943,-0.565444,-1.304554,-1.014577,-0.523728,-0.212226,-1.289685,-2.286752
1083,2021,afghanistan,Asia,149,2.523,NaN,0.46300,52.49300,0.38200,0.92400,-0.10200,1.89500,7.695,-3.071932,-1.854758,-3.626333,-1.100359,-0.578526,-1.504458,-0.999050

In [44]:
df.columns

Index(['year', 'country', 'region', 'rank', 'score', 'gdp', 'social_support',
       'health', 'freedom', 'trust', 'generosity', 'dystopia',
       'Logged GDP per capita', 'social_support_std', 'health_std',
       'freedom_std', 'trust_std', 'generosity_std', 'gdp_std',
       'dystopia_std'],
      dtype='object')

In [46]:
for y in range(2015,2022) :
    ldf = df.loc[df['year'] == y]
    rdf = pd.DataFrame(data.iloc[:,[-1,y-2014]])
    if y == 2015 :
        ndf = pd.merge(ldf,rdf, how='left', left_on='country', right_on='country')
        ndf.columns = ['year', 'country', 'region', 'rank', 'score', 'gdp', 'social_support',
           'health', 'freedom', 'trust', 'generosity', 'dystopia',
           'Logged GDP per capita', 'social_support_std', 'health_std',
           'freedom_std', 'trust_std', 'generosity_std', 'gdp_std',
           'dystopia_std','pop']
    else :
        ndfs = pd.merge(ldf,rdf, how='left', left_on='country', right_on='country')
        ndfs.columns = ['year', 'country', 'region', 'rank', 'score', 'gdp', 'social_support',
           'health', 'freedom', 'trust', 'generosity', 'dystopia',
           'Logged GDP per capita', 'social_support_std', 'health_std',
           'freedom_std', 'trust_std', 'generosity_std', 'gdp_std',
           'dystopia_std','pop']
        ndf = pd.concat([ndf,ndfs])
ndf

,year,country,region,rank,score,gdp,social_support,health,freedom,trust,...,dystopia,Logged GDP per capita,social_support_std,health_std,freedom_std,trust_std,generosity_std,gdp_std,dystopia_std,pop
0,2015,switzerland,Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,...,2.51738,NaN,1.320281,1.263408,1.577438,2.309652,0.471040,1.369621,0.758258,8297.0
1,2015,iceland,Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,...,2.70201,NaN,1.514458,1.289434,1.332456,-0.016480,1.575856,1.135226,1.092857,330.0
2,2015,denmark,Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,...,2.49204,NaN,1.361054,0.992229,1.469659,2.842774,0.824293,1.192861,0.712335,5689.0
3,2015,norway,Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,...,2.46531,NaN,1.251922,1.035145,1.605131,1.852081,0.868638,1.525130,0.663893,5200.0
4,2015,canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,...,2.45176,NaN,1.221204,1.118054,1.360416,1.555725,1.748563,1.194876,0.639337,36027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2021,lesotho,Africa,145,3.512,NaN,0.78700,48.70000,0.71500,0.91500,...,1.80000,7.926,-0.242308,-2.417575,-0.678147,-1.049973,-0.771665,-1.304407,-1.176342,2159.0
145,2021,botswana,Africa,146,3.467,NaN,0.78400,59.26900,0.82400,0.80100,...,0.64800,9.782,-0.268508,-0.849315,0.286874,-0.411761,-1.537565,0.302927,-3.326246,2397.0
146,2021,rwanda,Africa,147,3.415,NaN,0.55200,61.40000,0.89700,0.16700,...,1.09500,7.676,-2.294659,-0.533110,0.933173,3.137597,0.507053,-1.520912,-2.492038,13277.0
147,2021,zimbabwe,Africa,148,3.145,NaN,0.75000,56.20100,0.67700,0.82100,...,1.20500,7.943,-0.565444,-1.304554,-1.014577,-0.523728,-0.212226,-1.289685,-2.286752,15092.0
148,2021,afghanistan,Asia,149,2.523,NaN,0.46300,52.49300,0.38200,0.92400,...,1.89500,7.695,-3.071932,-1.854758,-3.626333,-1.100359,-0.578526,-1.504458,-0.999050,39835.0

In [47]:
ndf.to_csv('./data_pop.csv')

## 코딩으로 빈칸 채워넣기......

In [54]:
import numpy as np

In [64]:
new_data = pd.read_csv('./data_pop.csv')
new_data

,Unnamed: 0,year,country,region,rank,score,gdp,social_support,health,freedom,...,dystopia,Logged GDP per capita,social_support_std,health_std,freedom_std,trust_std,generosity_std,gdp_std,dystopia_std,pop
0,0,2015,switzerland,Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,...,2.51738,NaN,1.320281,1.263408,1.577438,2.309652,0.471040,1.369621,0.758258,8297.0
1,1,2015,iceland,Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,...,2.70201,NaN,1.514458,1.289434,1.332456,-0.016480,1.575856,1.135226,1.092857,330.0
2,2,2015,denmark,Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,...,2.49204,NaN,1.361054,0.992229,1.469659,2.842774,0.824293,1.192861,0.712335,5689.0
3,3,2015,norway,Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,...,2.46531,NaN,1.251922,1.035145,1.605131,1.852081,0.868638,1.525130,0.663893,5200.0
4,4,2015,canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,...,2.45176,NaN,1.221204,1.118054,1.360416,1.555725,1.748563,1.194876,0.639337,36027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,144,2021,lesotho,Africa,145,3.512,NaN,0.78700,48.70000,0.71500,...,1.80000,7.926,-0.242308,-2.417575,-0.678147,-1.049973,-0.771665,-1.304407,-1.176342,2159.0
1080,145,2021,botswana,Africa,146,3.467,NaN,0.78400,59.26900,0.82400,...,0.64800,9.782,-0.268508,-0.849315,0.286874,-0.411761,-1.537565,0.302927,-3.326246,2397.0
1081,146,2021,rwanda,Africa,147,3.415,NaN,0.55200,61.40000,0.89700,...,1.09500,7.676,-2.294659,-0.533110,0.933173,3.137597,0.507053,-1.520912,-2.492038,13277.0
1082,147,2021,zimbabwe,Africa,148,3.145,NaN,0.75000,56.20100,0.67700,...,1.20500,7.943,-0.565444,-1.304554,-1.014577,-0.523728,-0.212226,-1.289685,-2.286752,15092.0
1083,148,2021,afghanistan,Asia,149,2.523,NaN,0.46300,52.49300,0.38200,...,1.89500,7.695,-3.071932,-1.854758,-3.626333,-1.100359,-0.578526,-1.504458,-0.999050,39835.0

In [67]:
len(new_data['pop'])

1084

In [75]:
null_country = []
for i in range(len(new_data['pop'])) :
    if np.isnan(new_data['pop'][i]) == True :
        null_country.append(new_data['country'][i])
cn = list(set(null_country))
cn

['belize',
 'northern cyprus',
 'palestinian territories',
 'guinea',
 'taiwan province of china',
 'comoros',
 'south sudan',
 'sierra leone',
 'algeria',
 'bhutan',
 'sudan',
 'hong kong s.a.r. of china',
 'swaziland',
 'macedonia',
 'somaliland region',
 'congo (brazzaville)',
 'libya',
 'serbia',
 'ivory coast',
 'trinidad & tobago',
 'dominican republic',
 'kosovo',
 'south africa',
 'congo (kinshasa)',
 'morocco',
 'maldives',
 'north cyprus',
 'greece',
 'hong kong s.a.r., china',
 'bosnia and herzegovina']

In [77]:
cn_k = ['벨리즈','키프로스','팔레스타인','기니','대만','코모로','수단',
        '시에라리온','알제리','부탄','수단','홍콩','에스와티니','북마케도니아',
       '','콩고','리비아','세르비아','코트디부아르','트리니다드토바고','도미니카공화국',
        '','남아프리카공화국', '콩고민주공화국','모로코','몰디브','키프로스','그리스','홍콩','']
print(len(cn))
print(len(cn_k))

30
30

In [ ]:

for i in range(len(new_data['pop'])) :

In [58]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 22 columns):
Unnamed: 0               1084 non-null int64
year                     1084 non-null int64
country                  1084 non-null object
region                   1084 non-null object
rank                     1084 non-null int64
score                    1084 non-null float64
gdp                      782 non-null float64
social_support           1084 non-null float64
health                   1084 non-null float64
freedom                  1084 non-null float64
trust                    1083 non-null float64
generosity               1084 non-null float64
dystopia                 772 non-null float64
Logged GDP per capita    302 non-null float64
social_support_std       1084 non-null float64
health_std               1084 non-null float64
freedom_std              1084 non-null float64
trust_std                1083 non-null float64
generosity_std           1084 non-null float64
gdp_std                  1084 non-null float64
dystopia_std             772 non-null float64
pop                      930 non-null float64
dtypes: float64(17), int64(3), object(2)
memory usage: 186.4+ KB