# Folium
* 지도 위에 시각화할 때 유용한 도구
* 세계 지도를 기본 지원하고 다양한 스타일의 지도 이미지를 제공
* Google map이나 Kakao map 등과 다르게 API 키를 필요로 하지 않음

출처 : '파이썬 머신러닝 판다스 데이터 분석'

In [1]:
import pandas as pd

In [ ]:
# conda install -c conda-forge folium

In [2]:
import folium

## 지도 만들기

In [ ]:
seoul_map = folium.Map(location=[37.55,126.98])
seoul_map.save('./seoul.html')

## 지도에 마커 표시하기

In [3]:
df = pd.read_excel('starbucks_location.xls')
df

,name,address,number,pin,latitude,longitude
0,역삼아레나빌딩,서울특별시 강남구 언주로 425 (역삼동),1522-3232,리저브 매장 2번,37.501087,127.043069
1,논현역사거리,서울특별시 강남구 강남대로 538 (논현동),1522-3232,리저브 매장 2번,37.510178,127.022223
2,신사역성일빌딩,서울특별시 강남구 강남대로 584 (논현동),1522-3232,리저브 매장 2번,37.514132,127.020563
3,국기원사거리,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,리저브 매장 2번,37.499517,127.031495
4,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,리저브 매장 2번,37.494668,127.062583
...,...,...,...,...,...,...
548,사가정역,서울특별시 중랑구 면목로 310,1522-3232,리저브 매장 2번,37.579594,127.087966
549,상봉역,서울특별시 중랑구 망우로 307 (상봉동),1522-3232,리저브 매장 2번,37.596890,127.086470
550,묵동이마트,"서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)",1522-3232,리저브 매장 2번,37.613433,127.077484
551,묵동,서울특별시 중랑구 동일로 952,1522-3232,리저브 매장 2번,37.615368,127.076633
552,중화역,"서울특별시 중랑구 봉화산로 35 1,2층",1522-3232,리저브 매장 2번,37.601709,127.078411

In [ ]:
seoul_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', zoom_start=12)

for name, lat, lng in zip(df.name, df.latitude, df.longitude) :
    folium.Marker([lat, lng], popup=name).add_to(seoul_map)
    
seoul_map.save('./starbucks_location_map.html')

In [ ]:
seoul_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', zoom_start=12)

for name, lat, lng in zip(df.name, df.latitude, df.longitude) :
    folium.Marker([lat, lng], radius=10, color='brown',fill=True, fill_color='coral', fill_opacity=0.7,popup=name).add_to(seoul_map)
    
seoul_map.save('./starbucks_location_map2.html')

## 지도 영역에 단계구분도(Choropleth Map 표시하기)

In [4]:
df['gu'] = df['address'].str.split(' ').str[1]
df

,name,address,number,pin,latitude,longitude,gu
0,역삼아레나빌딩,서울특별시 강남구 언주로 425 (역삼동),1522-3232,리저브 매장 2번,37.501087,127.043069,강남구
1,논현역사거리,서울특별시 강남구 강남대로 538 (논현동),1522-3232,리저브 매장 2번,37.510178,127.022223,강남구
2,신사역성일빌딩,서울특별시 강남구 강남대로 584 (논현동),1522-3232,리저브 매장 2번,37.514132,127.020563,강남구
3,국기원사거리,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,리저브 매장 2번,37.499517,127.031495,강남구
4,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,리저브 매장 2번,37.494668,127.062583,강남구
...,...,...,...,...,...,...,...
548,사가정역,서울특별시 중랑구 면목로 310,1522-3232,리저브 매장 2번,37.579594,127.087966,중랑구
549,상봉역,서울특별시 중랑구 망우로 307 (상봉동),1522-3232,리저브 매장 2번,37.596890,127.086470,중랑구
550,묵동이마트,"서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)",1522-3232,리저브 매장 2번,37.613433,127.077484,중랑구
551,묵동,서울특별시 중랑구 동일로 952,1522-3232,리저브 매장 2번,37.615368,127.076633,중랑구
552,중화역,"서울특별시 중랑구 봉화산로 35 1,2층",1522-3232,리저브 매장 2번,37.601709,127.078411,중랑구

In [5]:
gu_count = pd.DataFrame(df['name'].groupby(df['gu']).size().reset_index())
gu_count.columns = ['구', '개수']
gu_count

       구  개수
0    강남구  85
1    강동구  16
2    강북구   5
3    강서구  19
4    관악구  11
5    광진구  17
6    구로구  11
7    금천구  11
8    노원구  13
9    도봉구   3
10  동대문구   9
11   동작구  11
12   마포구  32
13  서대문구  20
14   서초구  48
15   성동구  11
16   성북구  14
17   송파구  32
18   양천구  16
19  영등포구  38
20   용산구  21
21   은평구   8
22   종로구  39
23    중구  55
24   중랑구   8

In [6]:
import json

In [7]:
geo_path = './seoul.json'

try :
    geo_data = json.load(open(geo_path, encoding='utf-8'))
except :
    geo_data = json.load(open(geo_path, encoding='utf-8-sig'))


# 서울시 중심부의 위도, 경도 입니다.
center = [37.541, 126.986]

# 맵이 center 에 위치하고, zoom 레벨은 11로 시작하는 맵 m을 만듭니다.
m = folium.Map(location=center, zoom_start=10)

# Choropleth 레이어를 만들고, 맵 m에 추가합니다.
folium.Choropleth(
    geo_data=geo_data,
    data=gu_count,
    columns=('구','개수'),
    fill_color='BuPu',
    key_on='feature.properties.구',
).add_to(m)

# 맵 m을 출력합니다.
m.save('./gu_starbucks.html')