# 클릭해야만 페이지 접속이 가능한 형태

In [1]:
from selenium import webdriver

In [2]:
browser = webdriver.Chrome('./chromedriver.exe')

In [3]:
browser.get('https://www.starbucks.co.kr/store/store_map.do?disp=locale')

In [4]:
import time
time.sleep(5)
browser.find_element_by_css_selector('ul.sido_arae_box > li > a[data-sidocd="01"]').click()

In [5]:
time.sleep(5)
browser.find_element_by_css_selector('ul > li > a[href*="0"][data-guguncd=""]').click()

In [6]:
from bs4 import BeautifulSoup

In [7]:
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [8]:
starbucks = soup.select('ul > li.quickResultLstCon')
len(starbucks)

553

In [9]:
starbucks[0]

<li class="quickResultLstCon" data-code="3762" data-hlytag="null" data-index="0" data-lat="37.501087" data-long="127.043069" data-name="역삼아레나빌딩" data-storecd="1509" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="역삼아레나빌딩" data-store="1509" data-yn="N">역삼아레나빌딩  </strong> <p class="result_details">서울특별시 강남구 언주로 425 (역삼동)<br/>1522-3232</p> <i class="pin_general">리저브 매장 2번</i></li>

In [10]:
starbucks[0]['data-lat']

'37.501087'

In [54]:
starbucks[0]["data-name"]

'역삼아레나빌딩'

In [55]:
starbucks[0].select('strong')[0].text.strip()

'역삼아레나빌딩'

In [44]:
starbucks[0].select('p.result_details')[0].get_text(separator='|br|', strip=True).split('|br|')

['서울특별시 강남구 언주로 425 (역삼동)', '1522-3232']

In [49]:
starbucks[0].select('i')[0].text.strip()

'리저브 매장 2번'

## for문

In [50]:
results = []
for star in starbucks :
    name = star.select('strong')[0].text.strip()
    address = star.select('p.result_details')[0].get_text(separator='|br|', strip=True).split('|br|')[0]
    number = star.select('p.result_details')[0].get_text(separator='|br|', strip=True).split('|br|')[1]
    pin = star.select('i')[0].text.strip()
    lat = float(star['data-lat'])
    long = float(star['data-long'])
    
    result = [name, address, number, pin, lat, long]
    results.append(result)
len(results)

553

## DataFrame으로 변환

In [51]:
import pandas as pd

In [56]:
df = pd.DataFrame(results, columns=['name', 'address', 'number', 'pin', 'latitude', 'longitude'])
df

,name,address,number,pin,latitude,longitude
0,역삼아레나빌딩,서울특별시 강남구 언주로 425 (역삼동),1522-3232,리저브 매장 2번,37.501087,127.043069
1,논현역사거리,서울특별시 강남구 강남대로 538 (논현동),1522-3232,리저브 매장 2번,37.510178,127.022223
2,신사역성일빌딩,서울특별시 강남구 강남대로 584 (논현동),1522-3232,리저브 매장 2번,37.514132,127.020563
3,국기원사거리,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,리저브 매장 2번,37.499517,127.031495
4,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,리저브 매장 2번,37.494668,127.062583
...,...,...,...,...,...,...
548,사가정역,서울특별시 중랑구 면목로 310,1522-3232,리저브 매장 2번,37.579594,127.087966
549,상봉역,서울특별시 중랑구 망우로 307 (상봉동),1522-3232,리저브 매장 2번,37.596890,127.086470
550,묵동이마트,"서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)",1522-3232,리저브 매장 2번,37.613433,127.077484
551,묵동,서울특별시 중랑구 동일로 952,1522-3232,리저브 매장 2번,37.615368,127.076633
552,중화역,"서울특별시 중랑구 봉화산로 35 1,2층",1522-3232,리저브 매장 2번,37.601709,127.078411

In [57]:
df.to_excel('./saves/starbucks_location.xls', index=False)